  .headerthings {

      color: #F8F9FAA6;
      font-size: 50px;
      
  }

  .footerthings {

      max-height: 5vh;
  }

  .bgc {
      background-color: #28666E;
      min-height: 10vh;

  }

  body {
      margin: 0;
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      color: #4A4A4A;
  }

  main {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .game-quiz-container {
      width: 40rem;
      height: 30rem;
      background-color: rgb(253, 251, 251);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }

  .game-details-container {
      width: 80%;
      height: 4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .game-details-container h1 {
      font-size: 1.2rem;
  }

  .game-question-container {
      width: 80%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid darkgray;
      border-radius: 25px;
  }

  .game-question-container h1 {
      font-size: 1.1rem;
      text-align: center;
      padding: 3px;
  }

  .game-options-container {
      width: 80%;
      height: 12rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
  }

  .game-options-container span {
      width: 45%;
      height: 3rem;
      border: 2px solid darkgray;
      border-radius: 20px;
      overflow: hidden;
  }

  span label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: grabbing;
      font-weight: 900;
      color: rgb(22, 22, 22);
  }


  input[type="radio"] {
      position: relative;
      display: none;
  }


  input[type=radio]:checked~.option {
      background: rgb(0, 204, 204);
  }

  .next-button-container {
      width: 50%;
      height: 3rem;
      display: flex;
      justify-content: center;
  }

  .next-button-container button {
      width: 8rem;
      height: 2rem;
      border-radius: 10px;
      color: rgb(25, 25, 25);
      font-weight: 600;
      border: 2px solid gray;
      cursor: pointer;
      outline: none;
  }

  .model-container {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .model-content-container {
      height: 20rem;
      width: 25rem;
      background-color: rgb(43, 42, 42);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 80px;
  }

  .model-content-container h1 {
      font-size: 1.3rem;
      height: 3rem;
      color: lightgray;
      text-align: center;
  }

  .box-details {
      width: 15rem;
      height: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 30px;
  }

  .box-details p {
      color: white;
      text-align: center;
  }

  .model-button-container {
      height: 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .model-button-container button {
      width: 10rem;
      height: 2rem;
      background: none;
      outline: none;
      border: 1px solid rgb(252, 242, 241);
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 20px;
  }

  .model-button-container button:hover {
      background-color: rgb(83, 82, 82);
  }
